<div class="box tabular settings">
  <p>
    <%= content_tag :label, "슬랙 Bot Token" %>
    <%= text_field_tag 'settings[tx_slack_reminder_token]',
                       @settings['tx_slack_reminder_token'],
                       :size => 50,
                       :placeholder => "예: xoxb-your-bot-token-here" %>
    <em class="info">슬랙 Bot Token을 입력하세요. (Bot Token Scopes: chat:write 필요)</em>
  </p>

  <p>
    <%= content_tag :label, "전체 공지 슬랙 채널 ID" %>
    <%= text_field_tag 'settings[tx_slack_reminder_general_channel_id]',
                       @settings['tx_slack_reminder_general_channel_id'],
                       :size => 50,
                       :placeholder => "예: C1234567890" %>
    <em class="info">전체 공지용 슬랙 채널의 ID를 입력하세요.</em>
  </p>

  <p>
    <%= content_tag :label, "개발 모드에서 메시지 전송" %>
    <%= check_box_tag 'settings[send_message_on_development_mode]',
                      '1',
                      @settings['send_message_on_development_mode'] == '1' %>
    <em class="info">개발 환경에서도 슬랙 메시지를 전송하려면 체크하세요.</em>
  </p>

  <p>
    <%= content_tag :label, "개인 DM 대상 그룹" %>
    <%= select_tag 'settings[dm_target_group_ids][]',
                   options_for_select(
                     Group.sorted.map { |g| [g.name, g.id.to_s] },
                     @settings['dm_target_group_ids'] || []
                   ),
                   multiple: true,
                   size: 10 %>
    <em class="info">개인별 DM 알림(remind_everybody)을 받을 그룹을 선택하세요.</em>
  </p>
</div>
